@import "tailwindcss";
@plugin "daisyui" {
  themes: business --default
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#app {
  width: 100%;
  height: 100%;
}

